.QuestionEditorView-table {
  margin-top: 10px;
  margin-left: 30%;
  text-align: center;
  font-size: 15px;
}

.QuestionEditorView-img {
  max-width: 20px;
  height: 10px;
  cursor: pointer;
}

table {
  border-collapse: separate;
  border-spacing: 0 1em;
  table-layout: fixed;
  width: 800px;
}

table td {
  width: 15%;
  /* width: 100px; */
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
